name: ci.yml
on: push

concurrency:
    group: ci.yml
    cancel-in-progress: true

env:
  RUSTFLAGS: "-Dwarnings"

jobs:
  lint_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy, rustfmt
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-targets: false
          cache-all-crates: true
          cache-workspace-crates: true
      - name: Lint
        run: cargo x lint
      - name: Test
        run: cargo x test
